@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 20px;
}
header {
    text-align: center;
    background-color: #59887B;
    color: white;
    padding: 20px;
}
header a {
    margin: 0;
    color: white;
    text-decoration: none;
}
nav {
    background-color: #94B9AF;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #6B9E91;
    border-radius: 5px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.smartphone {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.smartphone img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.price {
    color: #e74c3c;
    font-weight: bold;
}
.quantity {
    margin: 10px 0;
}
.button {
    background-color: #6B9E91;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
.button:hover {
    background-color: #517B71;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #59887B;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}